[user]
    # name =
    # email =

[alias]
    diff-fork = !git-diff-fork.fish

[color.decorate]
    head = cyan bold
    branch = cyan
    remoteBranch = magenta

[core]
    editor = kak

[diff]
    algorithm = histogram

[fetch]
    prune = true

[push]
    default = simple
