[user]
    name = Nikola Stoyanov
    email = ns.barzakov@gmail.com

[alias]
    diff-fork = !git-diff-fork.fish

[color.decorate]
    head = cyan bold
    branch = cyan
    remoteBranch = magenta

[core]
    editor = kak

[diff]
    algorithm = histogram

[fetch]
    prune = true

[pull]
    ff = only

[push]
    default = simple
